body
  line-height 1
  text-size-adjust 100%
  color color-text
  background-color color-bg
  font-family 'Noto Sans JP', sans-serif
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
