.u-acs
  align-content: flex-start !important

.u-ace
  align-content: flex-end !important

.u-acc
  align-content: center !important

.u-acbt
  align-content: space-between !important

.u-acar
  align-content: space-around !important

.u-acst
  align-content: stretch !important

.u-ais
  align-items: flex-start !important

.u-aie
  align-items: flex-end !important

.u-aic
  align-items: center !important

.u-aibl
  align-items: baseline !important

.u-aist
  align-items: stretch !important

.u-ass
  align-self: flex-start !important

.u-ase
  align-self: flex-end !important

.u-asc
  align-self: center !important

.u-asbl
  align-self: baseline !important

.u-asst
  align-self: stretch !important

.u-bdn
  border: none !important

.u-bdtn
  border-top: none !important

.u-bdrn
  border-right: none !important

.u-bdbn
  border-bottom: none !important

.u-bdln
  border-left: none !important

.u-bgcw
  background-color #fff !important

.u-clr
  clear: right !important

.u-cll
  clear: left !important

.u-clb
  clear: both !important

.u-cln
  clear: none !important

.u-cf::after
  content: "" !important
  display: block !important
  clear: both !important

.u-db
  display: block !important

.u-di
  display: inline !important

.u-dt
  display: table !important

.u-df
  display: flex !important

.u-dg
  display: grid !important

.u-dli
  display: list-item !important

.u-dtr
  display: table-row !important

.u-dtc
  display: table-cell !important

.u-dn
  display: none !important

.u-dib
  display: inline-block !important

.u-dif
  display: inline-flex !important

.u-fxdr
  flex-direction: row !important

.u-fxdc
  flex-direction: column !important

.u-fxdrr
  flex-direction: row-reverse !important

.u-fxdcr
  flex-direction: column-reverse !important

.u-fxg0
  flex-grow: 0 !important

.u-fxg1
  flex-grow: 1 !important

.u-fxs0
  flex-shrink: 0 !important

.u-fxs1
  flex-shrink: 1 !important

.u-fxw
  flex-wrap: wrap !important

.u-fxwn
  flex-wrap: nowrap !important

.u-fx
  flex: 1 1 auto !important

.u-flr
  float: right !important

.u-fll
  float: left !important

.u-fln
  float: none !important

.u-fz10
  font-size: 10px !important

.u-fz11
  font-size: 11px !important

.u-fz12
  font-size: 12px !important

.u-fz13
  font-size: 13px !important

.u-fz14
  font-size: 14px !important

.u-fz15
  font-size: 15px !important

.u-fz16
  font-size: 16px !important

.u-fz18
  font-size: 18px !important

.u-fz20
  font-size: 20px !important

.u-fz22
  font-size: 22px !important

.u-fz24
  font-size: 24px !important

.u-fz26
  font-size: 26px !important

.u-fz28
  font-size: 28px !important

.u-fz30
  font-size: 30px !important

.u-fz32
  font-size: 32px !important

.u-fz35
  font-size: 35px !important

.u-fz40
  font-size: 40px !important

.u-fz50
  font-size: 50px !important

.u-fsn
  font-style: normal !important

.u-fsi
  font-style: italic !important

.u-fwb
  font-weight: bold !important

.u-jcs
  justify-content: flex-start !important

.u-jce
  justify-content: flex-end !important

.u-jcc
  justify-content: center !important

.u-jcbt
  justify-content: space-between !important

.u-jcar
  justify-content: space-around !important

.u-list-num
  counter-reset: num !important

.u-list-num > li
  counter-increment: num !important

.u-list-num > li::before
  content: counter(num) ' ' !important

.u-list-num-pr
  counter-reset: num !important

.u-list-num-pr > li
  counter-increment: num !important

.u-list-num-pr > li::before
  content: counter(num) '. ' !important

.u-list-num-per
  counter-reset: num !important

.u-list-num-per > li
  counter-increment: num !important

.u-list-num-per > li::before
  content: '(' counter(num) ') ' !important

.u-list-kana
  padding-left: 1.5em !important
  list-style-type: katakana !important

.u-list-disc
  padding-left: 1.5em !important
  list-style-type: disc !important

.u-list-circle
  padding-left: 1.5em !important
  list-style-type: circle !important

.u-m-20
  margin: -20px !important

.u-mt-20
  margin-top: -20px !important

.u-mr-20
  margin-right: -20px !important

.u-mb-20
  margin-bottom: -20px !important

.u-ml-20
  margin-left: -20px !important

.u-my-20
  margin-top: -20px !important
  margin-bottom: -20px !important

.u-mx-20
  margin-right: -20px !important
  margin-left: -20px !important

.u-m-15
  margin: -15px !important

.u-mt-15
  margin-top: -15px !important

.u-mr-15
  margin-right: -15px !important

.u-mb-15
  margin-bottom: -15px !important

.u-ml-15
  margin-left: -15px !important

.u-my-15
  margin-top: -15px !important
  margin-bottom: -15px !important

.u-mx-15
  margin-right: -15px !important
  margin-left: -15px !important

.u-m-10
  margin: -10px !important

.u-mt-10
  margin-top: -10px !important

.u-mr-10
  margin-right: -10px !important

.u-mb-10
  margin-bottom: -10px !important

.u-ml-10
  margin-left: -10px !important

.u-my-10
  margin-top: -10px !important
  margin-bottom: -10px !important

.u-mx-10
  margin-right: -10px !important
  margin-left: -10px !important

.u-m-5
  margin: -5px !important

.u-mt-5
  margin-top: -5px !important

.u-mr-5
  margin-right: -5px !important

.u-mb-5
  margin-bottom: -5px !important

.u-ml-5
  margin-left: -5px !important

.u-my-5
  margin-top: -5px !important
  margin-bottom: -5px !important

.u-mx-5
  margin-right: -5px !important
  margin-left: -5px !important

.u-m0
  margin: 0 !important

.u-mt0
  margin-top: 0 !important

.u-mr0
  margin-right: 0 !important

.u-mb0
  margin-bottom: 0 !important

.u-ml0
  margin-left: 0 !important

.u-my0
  margin-top: 0 !important
  margin-bottom: 0 !important

.u-mx0
  margin-right: 0 !important
  margin-left: 0 !important

.u-m5
  margin: 5px !important

.u-mt5
  margin-top: 5px !important

.u-mr5
  margin-right: 5px !important

.u-mb5
  margin-bottom: 5px !important

.u-ml5
  margin-left: 5px !important

.u-my5
  margin-top: 5px !important
  margin-bottom: 5px !important

.u-mx5
  margin-right: 5px !important
  margin-left: 5px !important

.u-m10
  margin: 10px !important

.u-mt10
  margin-top: 10px !important

.u-mr10
  margin-right: 10px !important

.u-mb10
  margin-bottom: 10px !important

.u-ml10
  margin-left: 10px !important

.u-my10
  margin-top: 10px !important
  margin-bottom: 10px !important

.u-mx10
  margin-right: 10px !important
  margin-left: 10px !important

.u-m15
  margin: 15px !important

.u-mt15
  margin-top: 15px !important

.u-mr15
  margin-right: 15px !important

.u-mb15
  margin-bottom: 15px !important

.u-ml15
  margin-left: 15px !important

.u-my15
  margin-top: 15px !important
  margin-bottom: 15px !important

.u-mx15
  margin-right: 15px !important
  margin-left: 15px !important

.u-m20
  margin: 20px !important

.u-mt20
  margin-top: 20px !important

.u-mr20
  margin-right: 20px !important

.u-mb20
  margin-bottom: 20px !important

.u-ml20
  margin-left: 20px !important

.u-my20
  margin-top: 20px !important
  margin-bottom: 20px !important

.u-mx20
  margin-right: 20px !important
  margin-left: 20px !important

.u-m25
  margin: 25px !important

.u-mt25
  margin-top: 25px !important

.u-mr25
  margin-right: 25px !important

.u-mb25
  margin-bottom: 25px !important

.u-ml25
  margin-left: 25px !important

.u-my25
  margin-top: 25px !important
  margin-bottom: 25px !important

.u-mx25
  margin-right: 25px !important
  margin-left: 25px !important

.u-m30
  margin: 30px !important

.u-mt30
  margin-top: 30px !important

.u-mr30
  margin-right: 30px !important

.u-mb30
  margin-bottom: 30px !important

.u-ml30
  margin-left: 30px !important

.u-my30
  margin-top: 30px !important
  margin-bottom: 30px !important

.u-mx30
  margin-right: 30px !important
  margin-left: 30px !important

.u-m35
  margin: 35px !important

.u-mt35
  margin-top: 35px !important

.u-mr35
  margin-right: 35px !important

.u-mb35
  margin-bottom: 35px !important

.u-ml35
  margin-left: 35px !important

.u-my35
  margin-top: 35px !important
  margin-bottom: 35px !important

.u-mx35
  margin-right: 35px !important
  margin-left: 35px !important

.u-m40
  margin: 40px !important

.u-mt40
  margin-top: 40px !important

.u-mr40
  margin-right: 40px !important

.u-mb40
  margin-bottom: 40px !important

.u-ml40
  margin-left: 40px !important

.u-my40
  margin-top: 40px !important
  margin-bottom: 40px !important

.u-mx40
  margin-right: 40px !important
  margin-left: 40px !important

.u-m45
  margin: 45px !important

.u-mt45
  margin-top: 45px !important

.u-mr45
  margin-right: 45px !important

.u-mb45
  margin-bottom: 45px !important

.u-ml45
  margin-left: 45px !important

.u-my45
  margin-top: 45px !important
  margin-bottom: 45px !important

.u-mx45
  margin-right: 45px !important
  margin-left: 45px !important

.u-m50
  margin: 50px !important

.u-mt50
  margin-top: 50px !important

.u-mr50
  margin-right: 50px !important

.u-mb50
  margin-bottom: 50px !important

.u-ml50
  margin-left: 50px !important

.u-my50
  margin-top: 50px !important
  margin-bottom: 50px !important

.u-mx50
  margin-right: 50px !important
  margin-left: 50px !important

.u-m55
  margin: 55px !important

.u-mt55
  margin-top: 55px !important

.u-mr55
  margin-right: 55px !important

.u-mb55
  margin-bottom: 55px !important

.u-ml55
  margin-left: 55px !important

.u-my55
  margin-top: 55px !important
  margin-bottom: 55px !important

.u-mx55
  margin-right: 55px !important
  margin-left: 55px !important

.u-m60
  margin: 60px !important

.u-mt60
  margin-top: 60px !important

.u-mr60
  margin-right: 60px !important

.u-mb60
  margin-bottom: 60px !important

.u-ml60
  margin-left: 60px !important

.u-my60
  margin-top: 60px !important
  margin-bottom: 60px !important

.u-mx60
  margin-right: 60px !important
  margin-left: 60px !important

.u-m65
  margin: 65px !important

.u-mt65
  margin-top: 65px !important

.u-mr65
  margin-right: 65px !important

.u-mb65
  margin-bottom: 65px !important

.u-ml65
  margin-left: 65px !important

.u-my65
  margin-top: 65px !important
  margin-bottom: 65px !important

.u-mx65
  margin-right: 65px !important
  margin-left: 65px !important

.u-m70
  margin: 70px !important

.u-mt70
  margin-top: 70px !important

.u-mr70
  margin-right: 70px !important

.u-mb70
  margin-bottom: 70px !important

.u-ml70
  margin-left: 70px !important

.u-my70
  margin-top: 70px !important
  margin-bottom: 70px !important

.u-mx70
  margin-right: 70px !important
  margin-left: 70px !important

.u-m75
  margin: 75px !important

.u-mt75
  margin-top: 75px !important

.u-mr75
  margin-right: 75px !important

.u-mb75
  margin-bottom: 75px !important

.u-ml75
  margin-left: 75px !important

.u-my75
  margin-top: 75px !important
  margin-bottom: 75px !important

.u-mx75
  margin-right: 75px !important
  margin-left: 75px !important

.u-m80
  margin: 80px !important

.u-mt80
  margin-top: 80px !important

.u-mr80
  margin-right: 80px !important

.u-mb80
  margin-bottom: 80px !important

.u-ml80
  margin-left: 80px !important

.u-my80
  margin-top: 80px !important
  margin-bottom: 80px !important

.u-mx80
  margin-right: 80px !important
  margin-left: 80px !important

.u-m85
  margin: 85px !important

.u-mt85
  margin-top: 85px !important

.u-mr85
  margin-right: 85px !important

.u-mb85
  margin-bottom: 85px !important

.u-ml85
  margin-left: 85px !important

.u-my85
  margin-top: 85px !important
  margin-bottom: 85px !important

.u-mx85
  margin-right: 85px !important
  margin-left: 85px !important

.u-m90
  margin: 90px !important

.u-mt90
  margin-top: 90px !important

.u-mr90
  margin-right: 90px !important

.u-mb90
  margin-bottom: 90px !important

.u-ml90
  margin-left: 90px !important

.u-my90
  margin-top: 90px !important
  margin-bottom: 90px !important

.u-mx90
  margin-right: 90px !important
  margin-left: 90px !important

.u-m95
  margin: 95px !important

.u-mt95
  margin-top: 95px !important

.u-mr95
  margin-right: 95px !important

.u-mb95
  margin-bottom: 95px !important

.u-ml95
  margin-left: 95px !important

.u-my95
  margin-top: 95px !important
  margin-bottom: 95px !important

.u-mx95
  margin-right: 95px !important
  margin-left: 95px !important

.u-m100
  margin: 100px !important

.u-mt100
  margin-top: 100px !important

.u-mr100
  margin-right: 100px !important

.u-mb100
  margin-bottom: 100px !important

.u-ml100
  margin-left: 100px !important

.u-my100
  margin-top: 100px !important
  margin-bottom: 100px !important

.u-mx100
  margin-right: 100px !important
  margin-left: 100px !important

.u-ma
  margin: auto !important

.u-mxa
  margin-right: auto !important
  margin-left: auto !important

.u-mah100p
  max-height: 100% !important

.u-maw100p
  max-width: 100% !important

.u-p0
  padding: 0px !important

.u-pt0
  padding-top: 0 !important

.u-pr0
  padding-right: 0 !important

.u-pb0
  padding-bottom: 0 !important

.u-pl0
  padding-left: 0 !important

.u-py0
  padding-top: 0 !important
  padding-bottom: 0 !important

.u-px0
  padding-right: 0 !important
  padding-left: 0 !important

.u-p5
  padding: 5px !important

.u-pt5
  padding-top: 5px !important

.u-pr5
  padding-right: 5px !important

.u-pb5
  padding-bottom: 5px !important

.u-pl5
  padding-left: 5px !important

.u-py5
  padding-top: 5px !important
  padding-bottom: 5px !important

.u-px5
  padding-right: 5px !important
  padding-left: 5px !important

.u-p10
  padding: 10px !important

.u-pt10
  padding-top: 10px !important

.u-pr10
  padding-right: 10px !important

.u-pb10
  padding-bottom: 10px !important

.u-pl10
  padding-left: 10px !important

.u-py10
  padding-top: 10px !important
  padding-bottom: 10px !important

.u-px10
  padding-right: 10px !important
  padding-left: 10px !important

.u-p15
  padding: 15px !important

.u-pt15
  padding-top: 15px !important

.u-pr15
  padding-right: 15px !important

.u-pb15
  padding-bottom: 15px !important

.u-pl15
  padding-left: 15px !important

.u-py15
  padding-top: 15px !important
  padding-bottom: 15px !important

.u-px15
  padding-right: 15px !important
  padding-left: 15px !important

.u-p20
  padding: 20px !important

.u-pt20
  padding-top: 20px !important

.u-pr20
  padding-right: 20px !important

.u-pb20
  padding-bottom: 20px !important

.u-pl20
  padding-left: 20px !important

.u-py20
  padding-top: 20px !important
  padding-bottom: 20px !important

.u-px20
  padding-right: 20px !important
  padding-left: 20px !important

.u-p25
  padding: 25px !important

.u-pt25
  padding-top: 25px !important

.u-pr25
  padding-right: 25px !important

.u-pb25
  padding-bottom: 25px !important

.u-pl25
  padding-left: 25px !important

.u-py25
  padding-top: 25px !important
  padding-bottom: 25px !important

.u-px25
  padding-right: 25px !important
  padding-left: 25px !important

.u-p30
  padding: 30px !important

.u-pt30
  padding-top: 30px !important

.u-pr30
  padding-right: 30px !important

.u-pb30
  padding-bottom: 30px !important

.u-pl30
  padding-left: 30px !important

.u-py30
  padding-top: 30px !important
  padding-bottom: 30px !important

.u-px30
  padding-right: 30px !important
  padding-left: 30px !important

.u-p35
  padding: 35px !important

.u-pt35
  padding-top: 35px !important

.u-pr35
  padding-right: 35px !important

.u-pb35
  padding-bottom: 35px !important

.u-pl35
  padding-left: 35px !important

.u-py35
  padding-top: 35px !important
  padding-bottom: 35px !important

.u-px35
  padding-right: 35px !important
  padding-left: 35px !important

.u-p40
  padding: 40px !important

.u-pt40
  padding-top: 40px !important

.u-pr40
  padding-right: 40px !important

.u-pb40
  padding-bottom: 40px !important

.u-pl40
  padding-left: 40px !important

.u-py40
  padding-top: 40px !important
  padding-bottom: 40px !important

.u-px40
  padding-right: 40px !important
  padding-left: 40px !important

.u-p45
  padding: 45px !important

.u-pt45
  padding-top: 45px !important

.u-pr45
  padding-right: 45px !important

.u-pb45
  padding-bottom: 45px !important

.u-pl45
  padding-left: 45px !important

.u-py45
  padding-top: 45px !important
  padding-bottom: 45px !important

.u-px45
  padding-right: 45px !important
  padding-left: 45px !important

.u-p50
  padding: 50px !important

.u-pt50
  padding-top: 50px !important

.u-pr50
  padding-right: 50px !important

.u-pb50
  padding-bottom: 50px !important

.u-pl50
  padding-left: 50px !important

.u-py50
  padding-top: 50px !important
  padding-bottom: 50px !important

.u-px50
  padding-right: 50px !important
  padding-left: 50px !important

.u-p55
  padding: 55px !important

.u-pt55
  padding-top: 55px !important

.u-pr55
  padding-right: 55px !important

.u-pb55
  padding-bottom: 55px !important

.u-pl55
  padding-left: 55px !important

.u-py55
  padding-top: 55px !important
  padding-bottom: 55px !important

.u-px55
  padding-right: 55px !important
  padding-left: 55px !important

.u-p60
  padding: 60px !important

.u-pt60
  padding-top: 60px !important

.u-pr60
  padding-right: 60px !important

.u-pb60
  padding-bottom: 60px !important

.u-pl60
  padding-left: 60px !important

.u-py60
  padding-top: 60px !important
  padding-bottom: 60px !important

.u-px60
  padding-right: 60px !important
  padding-left: 60px !important

.u-p65
  padding: 65px !important

.u-pt65
  padding-top: 65px !important

.u-pr65
  padding-right: 65px !important

.u-pb65
  padding-bottom: 65px !important

.u-pl65
  padding-left: 65px !important

.u-py65
  padding-top: 65px !important
  padding-bottom: 65px !important

.u-px65
  padding-right: 65px !important
  padding-left: 65px !important

.u-p70
  padding: 70px !important

.u-pt70
  padding-top: 70px !important

.u-pr70
  padding-right: 70px !important

.u-pb70
  padding-bottom: 70px !important

.u-pl70
  padding-left: 70px !important

.u-py70
  padding-top: 70px !important
  padding-bottom: 70px !important

.u-px70
  padding-right: 70px !important
  padding-left: 70px !important

.u-p75
  padding: 75px !important

.u-pt75
  padding-top: 75px !important

.u-pr75
  padding-right: 75px !important

.u-pb75
  padding-bottom: 75px !important

.u-pl75
  padding-left: 75px !important

.u-py75
  padding-top: 75px !important
  padding-bottom: 75px !important

.u-px75
  padding-right: 75px !important
  padding-left: 75px !important

.u-p80
  padding: 80px !important

.u-pt80
  padding-top: 80px !important

.u-pr80
  padding-right: 80px !important

.u-pb80
  padding-bottom: 80px !important

.u-pl80
  padding-left: 80px !important

.u-py80
  padding-top: 80px !important
  padding-bottom: 80px !important

.u-px80
  padding-right: 80px !important
  padding-left: 80px !important

.u-p85
  padding: 85px !important

.u-pt85
  padding-top: 85px !important

.u-pr85
  padding-right: 85px !important

.u-pb85
  padding-bottom: 85px !important

.u-pl85
  padding-left: 85px !important

.u-py85
  padding-top: 85px !important
  padding-bottom: 85px !important

.u-px85
  padding-right: 85px !important
  padding-left: 85px !important

.u-p90
  padding: 90px !important

.u-pt90
  padding-top: 90px !important

.u-pr90
  padding-right: 90px !important

.u-pb90
  padding-bottom: 90px !important

.u-pl90
  padding-left: 90px !important

.u-py90
  padding-top: 90px !important
  padding-bottom: 90px !important

.u-px90
  padding-right: 90px !important
  padding-left: 90px !important

.u-p95
  padding: 95px !important

.u-pt95
  padding-top: 95px !important

.u-pr95
  padding-right: 95px !important

.u-pb95
  padding-bottom: 95px !important

.u-pl95
  padding-left: 95px !important

.u-py95
  padding-top: 95px !important
  padding-bottom: 95px !important

.u-px95
  padding-right: 95px !important
  padding-left: 95px !important

.u-p100
  padding: 100px !important

.u-pt100
  padding-top: 100px !important

.u-pr100
  padding-right: 100px !important

.u-pb100
  padding-bottom: 100px !important

.u-pl100
  padding-left: 100px !important

.u-py100
  padding-top: 100px !important
  padding-bottom: 100px !important

.u-px100
  padding-right: 100px !important
  padding-left: 100px !important

.u-pos
  position: static !important

.u-por
  position: relative !important

.u-poa
  position: absolute !important

.u-pof
  position: fixed !important

.u-tar
  text-align: right !important

.u-tac
  text-align: center !important

.u-tal
  text-align: left !important

.u-taj
  text-align: justify !important

.u-vabl
  vertical-align: baseline !important

.u-vat
  vertical-align: top !important

.u-vam
  vertical-align: middle !important

.u-vab
  vertical-align: bottom !important

.u-vatb
  vertical-align: text-bottom !important

.u-vatt
  vertical-align: text-top !important

.u-wsn
  white-space: nowrap !important


@media (max-width: 767.98px)
  .u-acs-sp
    align-content: flex-start !important

  .u-ace-sp
    align-content: flex-end !important

  .u-acc-sp
    align-content: center !important

  .u-acbt-sp
    align-content: space-between !important

  .u-acar-sp
    align-content: space-around !important

  .u-acst-sp
    align-content: stretch !important

  .u-ais-sp
    align-items: flex-start !important

  .u-aie-sp
    align-items: flex-end !important

  .u-aic-sp
    align-items: center !important

  .u-aibl-sp
    align-items: baseline !important

  .u-aist-sp
    align-items: stretch !important

  .u-ass-sp
    align-self: flex-start !important

  .u-ase-sp
    align-self: flex-end !important

  .u-asc-sp
    align-self: center !important

  .u-asbl-sp
    align-self: baseline !important

  .u-asst-sp
    align-self: stretch !important

  .u-bdn-sp
    border: none !important

  .u-bdtn-sp
    border-top: none !important

  .u-bdrn-sp
    border-right: none !important

  .u-bdbn-sp
    border-bottom: none !important

  .u-bdln-sp
    border-left: none !important

  .u-bgcw-sp
    background-color #fff !important

  .u-clr-sp
    clear: right !important

  .u-cll-sp
    clear: left !important

  .u-clb-sp
    clear: both !important

  .u-cln-sp
    clear: none !important

  .u-cf-sp::after
    content: "" !important
    display: block !important
    clear: both !important

  .u-db-sp
    display: block !important

  .u-di-sp
    display: inline !important

  .u-dt-sp
    display: table !important

  .u-df-sp
    display: flex !important

  .u-dg-sp
    display: grid !important

  .u-dli-sp
    display: list-item !important

  .u-dtr-sp
    display: table-row !important

  .u-dtc-sp
    display: table-cell !important

  .u-dn-sp
    display: none !important

  .u-dib-sp
    display: inline-block !important

  .u-dif-sp
    display: inline-flex !important

  .u-fxdr-sp
    flex-direction: row !important

  .u-fxdc-sp
    flex-direction: column !important

  .u-fxdrr-sp
    flex-direction: row-reverse !important

  .u-fxdcr-sp
    flex-direction: column-reverse !important

  .u-fxg0-sp
    flex-grow: 0 !important

  .u-fxg1-sp
    flex-grow: 1 !important

  .u-fxs0-sp
    flex-shrink: 0 !important

  .u-fxs1-sp
    flex-shrink: 1 !important

  .u-fxw-sp
    flex-wrap: wrap !important

  .u-fxwn-sp
    flex-wrap: nowrap !important

  .u-fx-sp
    flex: 1 1 auto !important

  .u-flr-sp
    float: right !important

  .u-fll-sp
    float: left !important

  .u-fln-sp
    float: none !important

  .u-fz10-sp
    font-size: 10px !important

  .u-fz11-sp
    font-size: 11px !important

  .u-fz12-sp
    font-size: 12px !important

  .u-fz13-sp
    font-size: 13px !important

  .u-fz14-sp
    font-size: 14px !important

  .u-fz15-sp
    font-size: 15px !important

  .u-fz16-sp
    font-size: 16px !important

  .u-fz18-sp
    font-size: 18px !important

  .u-fz20-sp
    font-size: 20px !important

  .u-fz22-sp
    font-size: 22px !important

  .u-fz24-sp
    font-size: 24px !important

  .u-fz26-sp
    font-size: 26px !important

  .u-fz28-sp
    font-size: 28px !important

  .u-fz30-sp
    font-size: 30px !important

  .u-fz32-sp
    font-size: 32px !important

  .u-fz35-sp
    font-size: 35px !important

  .u-fz40-sp
    font-size: 40px !important

  .u-fz50-sp
    font-size: 50px !important

  .u-fsn-sp
    font-style: normal !important

  .u-fsi-sp
    font-style: italic !important

  .u-fwb-sp
    font-weight: bold !important

  .u-jcs-sp
    justify-content: flex-start !important

  .u-jce-sp
    justify-content: flex-end !important

  .u-jcc-sp
    justify-content: center !important

  .u-jcbt-sp
    justify-content: space-between !important

  .u-jcar-sp
    justify-content: space-around !important

  .u-list-num-sp
    counter-reset: num !important

  .u-list-num-sp > li
    counter-increment: num !important

  .u-list-num-sp > li::before
    content: counter(num) ' ' !important

  .u-list-num-pr-sp
    counter-reset: num !important

  .u-list-num-pr-sp > li
    counter-increment: num !important

  .u-list-num-pr-sp > li::before
    content: counter(num) '. ' !important

  .u-list-num-per-sp
    counter-reset: num !important

  .u-list-num-per-sp > li
    counter-increment: num !important

  .u-list-num-per-sp > li::before
    content: '(' counter(num) ') ' !important

  .u-list-kana-sp
    padding-left: 1.5em !important
    list-style-type: katakana !important

  .u-list-disc-sp
    padding-left: 1.5em !important
    list-style-type: disc !important

  .u-list-circle-sp
    padding-left: 1.5em !important
    list-style-type: circle !important

  .u-m-20-sp
    margin: -20px !important

  .u-mt-20-sp
    margin-top: -20px !important

  .u-mr-20-sp
    margin-right: -20px !important

  .u-mb-20-sp
    margin-bottom: -20px !important

  .u-ml-20-sp
    margin-left: -20px !important

  .u-my-20-sp
    margin-top: -20px !important
    margin-bottom: -20px !important

  .u-mx-20-sp
    margin-right: -20px !important
    margin-left: -20px !important

  .u-m-15-sp
    margin: -15px !important

  .u-mt-15-sp
    margin-top: -15px !important

  .u-mr-15-sp
    margin-right: -15px !important

  .u-mb-15-sp
    margin-bottom: -15px !important

  .u-ml-15-sp
    margin-left: -15px !important

  .u-my-15-sp
    margin-top: -15px !important
    margin-bottom: -15px !important

  .u-mx-15-sp
    margin-right: -15px !important
    margin-left: -15px !important

  .u-m-10-sp
    margin: -10px !important

  .u-mt-10-sp
    margin-top: -10px !important

  .u-mr-10-sp
    margin-right: -10px !important

  .u-mb-10-sp
    margin-bottom: -10px !important

  .u-ml-10-sp
    margin-left: -10px !important

  .u-my-10-sp
    margin-top: -10px !important
    margin-bottom: -10px !important

  .u-mx-10-sp
    margin-right: -10px !important
    margin-left: -10px !important

  .u-m-5-sp
    margin: -5px !important

  .u-mt-5-sp
    margin-top: -5px !important

  .u-mr-5-sp
    margin-right: -5px !important

  .u-mb-5-sp
    margin-bottom: -5px !important

  .u-ml-5-sp
    margin-left: -5px !important

  .u-my-5-sp
    margin-top: -5px !important
    margin-bottom: -5px !important

  .u-mx-5-sp
    margin-right: -5px !important
    margin-left: -5px !important

  .u-m0-sp
    margin: 0 !important

  .u-mt0-sp
    margin-top: 0 !important

  .u-mr0-sp
    margin-right: 0 !important

  .u-mb0-sp
    margin-bottom: 0 !important

  .u-ml0-sp
    margin-left: 0 !important

  .u-my0-sp
    margin-top: 0 !important
    margin-bottom: 0 !important

  .u-mx0-sp
    margin-right: 0 !important
    margin-left: 0 !important

  .u-m5-sp
    margin: 5px !important

  .u-mt5-sp
    margin-top: 5px !important

  .u-mr5-sp
    margin-right: 5px !important

  .u-mb5-sp
    margin-bottom: 5px !important

  .u-ml5-sp
    margin-left: 5px !important

  .u-my5-sp
    margin-top: 5px !important
    margin-bottom: 5px !important

  .u-mx5-sp
    margin-right: 5px !important
    margin-left: 5px !important

  .u-m10-sp
    margin: 10px !important

  .u-mt10-sp
    margin-top: 10px !important

  .u-mr10-sp
    margin-right: 10px !important

  .u-mb10-sp
    margin-bottom: 10px !important

  .u-ml10-sp
    margin-left: 10px !important

  .u-my10-sp
    margin-top: 10px !important
    margin-bottom: 10px !important

  .u-mx10-sp
    margin-right: 10px !important
    margin-left: 10px !important

  .u-m15-sp
    margin: 15px !important

  .u-mt15-sp
    margin-top: 15px !important

  .u-mr15-sp
    margin-right: 15px !important

  .u-mb15-sp
    margin-bottom: 15px !important

  .u-ml15-sp
    margin-left: 15px !important

  .u-my15-sp
    margin-top: 15px !important
    margin-bottom: 15px !important

  .u-mx15-sp
    margin-right: 15px !important
    margin-left: 15px !important

  .u-m20-sp
    margin: 20px !important

  .u-mt20-sp
    margin-top: 20px !important

  .u-mr20-sp
    margin-right: 20px !important

  .u-mb20-sp
    margin-bottom: 20px !important

  .u-ml20-sp
    margin-left: 20px !important

  .u-my20-sp
    margin-top: 20px !important
    margin-bottom: 20px !important

  .u-mx20-sp
    margin-right: 20px !important
    margin-left: 20px !important

  .u-m25-sp
    margin: 25px !important

  .u-mt25-sp
    margin-top: 25px !important

  .u-mr25-sp
    margin-right: 25px !important

  .u-mb25-sp
    margin-bottom: 25px !important

  .u-ml25-sp
    margin-left: 25px !important

  .u-my25-sp
    margin-top: 25px !important
    margin-bottom: 25px !important

  .u-mx25-sp
    margin-right: 25px !important
    margin-left: 25px !important

  .u-m30-sp
    margin: 30px !important

  .u-mt30-sp
    margin-top: 30px !important

  .u-mr30-sp
    margin-right: 30px !important

  .u-mb30-sp
    margin-bottom: 30px !important

  .u-ml30-sp
    margin-left: 30px !important

  .u-my30-sp
    margin-top: 30px !important
    margin-bottom: 30px !important

  .u-mx30-sp
    margin-right: 30px !important
    margin-left: 30px !important

  .u-m35-sp
    margin: 35px !important

  .u-mt35-sp
    margin-top: 35px !important

  .u-mr35-sp
    margin-right: 35px !important

  .u-mb35-sp
    margin-bottom: 35px !important

  .u-ml35-sp
    margin-left: 35px !important

  .u-my35-sp
    margin-top: 35px !important
    margin-bottom: 35px !important

  .u-mx35-sp
    margin-right: 35px !important
    margin-left: 35px !important

  .u-m40-sp
    margin: 40px !important

  .u-mt40-sp
    margin-top: 40px !important

  .u-mr40-sp
    margin-right: 40px !important

  .u-mb40-sp
    margin-bottom: 40px !important

  .u-ml40-sp
    margin-left: 40px !important

  .u-my40-sp
    margin-top: 40px !important
    margin-bottom: 40px !important

  .u-mx40-sp
    margin-right: 40px !important
    margin-left: 40px !important

  .u-m45-sp
    margin: 45px !important

  .u-mt45-sp
    margin-top: 45px !important

  .u-mr45-sp
    margin-right: 45px !important

  .u-mb45-sp
    margin-bottom: 45px !important

  .u-ml45-sp
    margin-left: 45px !important

  .u-my45-sp
    margin-top: 45px !important
    margin-bottom: 45px !important

  .u-mx45-sp
    margin-right: 45px !important
    margin-left: 45px !important

  .u-m50-sp
    margin: 50px !important

  .u-mt50-sp
    margin-top: 50px !important

  .u-mr50-sp
    margin-right: 50px !important

  .u-mb50-sp
    margin-bottom: 50px !important

  .u-ml50-sp
    margin-left: 50px !important

  .u-my50-sp
    margin-top: 50px !important
    margin-bottom: 50px !important

  .u-mx50-sp
    margin-right: 50px !important
    margin-left: 50px !important

  .u-m55-sp
    margin: 55px !important

  .u-mt55-sp
    margin-top: 55px !important

  .u-mr55-sp
    margin-right: 55px !important

  .u-mb55-sp
    margin-bottom: 55px !important

  .u-ml55-sp
    margin-left: 55px !important

  .u-my55-sp
    margin-top: 55px !important
    margin-bottom: 55px !important

  .u-mx55-sp
    margin-right: 55px !important
    margin-left: 55px !important

  .u-m60-sp
    margin: 60px !important

  .u-mt60-sp
    margin-top: 60px !important

  .u-mr60-sp
    margin-right: 60px !important

  .u-mb60-sp
    margin-bottom: 60px !important

  .u-ml60-sp
    margin-left: 60px !important

  .u-my60-sp
    margin-top: 60px !important
    margin-bottom: 60px !important

  .u-mx60-sp
    margin-right: 60px !important
    margin-left: 60px !important

  .u-m65-sp
    margin: 65px !important

  .u-mt65-sp
    margin-top: 65px !important

  .u-mr65-sp
    margin-right: 65px !important

  .u-mb65-sp
    margin-bottom: 65px !important

  .u-ml65-sp
    margin-left: 65px !important

  .u-my65-sp
    margin-top: 65px !important
    margin-bottom: 65px !important

  .u-mx65-sp
    margin-right: 65px !important
    margin-left: 65px !important

  .u-m70-sp
    margin: 70px !important

  .u-mt70-sp
    margin-top: 70px !important

  .u-mr70-sp
    margin-right: 70px !important

  .u-mb70-sp
    margin-bottom: 70px !important

  .u-ml70-sp
    margin-left: 70px !important

  .u-my70-sp
    margin-top: 70px !important
    margin-bottom: 70px !important

  .u-mx70-sp
    margin-right: 70px !important
    margin-left: 70px !important

  .u-m75-sp
    margin: 75px !important

  .u-mt75-sp
    margin-top: 75px !important

  .u-mr75-sp
    margin-right: 75px !important

  .u-mb75-sp
    margin-bottom: 75px !important

  .u-ml75-sp
    margin-left: 75px !important

  .u-my75-sp
    margin-top: 75px !important
    margin-bottom: 75px !important

  .u-mx75-sp
    margin-right: 75px !important
    margin-left: 75px !important

  .u-m80-sp
    margin: 80px !important

  .u-mt80-sp
    margin-top: 80px !important

  .u-mr80-sp
    margin-right: 80px !important

  .u-mb80-sp
    margin-bottom: 80px !important

  .u-ml80-sp
    margin-left: 80px !important

  .u-my80-sp
    margin-top: 80px !important
    margin-bottom: 80px !important

  .u-mx80-sp
    margin-right: 80px !important
    margin-left: 80px !important

  .u-m85-sp
    margin: 85px !important

  .u-mt85-sp
    margin-top: 85px !important

  .u-mr85-sp
    margin-right: 85px !important

  .u-mb85-sp
    margin-bottom: 85px !important

  .u-ml85-sp
    margin-left: 85px !important

  .u-my85-sp
    margin-top: 85px !important
    margin-bottom: 85px !important

  .u-mx85-sp
    margin-right: 85px !important
    margin-left: 85px !important

  .u-m90-sp
    margin: 90px !important

  .u-mt90-sp
    margin-top: 90px !important

  .u-mr90-sp
    margin-right: 90px !important

  .u-mb90-sp
    margin-bottom: 90px !important

  .u-ml90-sp
    margin-left: 90px !important

  .u-my90-sp
    margin-top: 90px !important
    margin-bottom: 90px !important

  .u-mx90-sp
    margin-right: 90px !important
    margin-left: 90px !important

  .u-m95-sp
    margin: 95px !important

  .u-mt95-sp
    margin-top: 95px !important

  .u-mr95-sp
    margin-right: 95px !important

  .u-mb95-sp
    margin-bottom: 95px !important

  .u-ml95-sp
    margin-left: 95px !important

  .u-my95-sp
    margin-top: 95px !important
    margin-bottom: 95px !important

  .u-mx95-sp
    margin-right: 95px !important
    margin-left: 95px !important

  .u-m100-sp
    margin: 100px !important

  .u-mt100-sp
    margin-top: 100px !important

  .u-mr100-sp
    margin-right: 100px !important

  .u-mb100-sp
    margin-bottom: 100px !important

  .u-ml100-sp
    margin-left: 100px !important

  .u-my100-sp
    margin-top: 100px !important
    margin-bottom: 100px !important

  .u-mx100-sp
    margin-right: 100px !important
    margin-left: 100px !important

  .u-ma-sp
    margin: auto !important

  .u-mxa-sp
    margin-right: auto !important
    margin-left: auto !important

  .u-mah100p-sp
    max-height: 100% !important

  .u-maw100p-sp
    max-width: 100% !important

  .u-p0-sp
    padding: 0px !important

  .u-pt0-sp
    padding-top: 0 !important

  .u-pr0-sp
    padding-right: 0 !important

  .u-pb0-sp
    padding-bottom: 0 !important

  .u-pl0-sp
    padding-left: 0 !important

  .u-py0-sp
    padding-top: 0 !important
    padding-bottom: 0 !important

  .u-px0-sp
    padding-right: 0 !important
    padding-left: 0 !important

  .u-p5-sp
    padding: 5px !important

  .u-pt5-sp
    padding-top: 5px !important

  .u-pr5-sp
    padding-right: 5px !important

  .u-pb5-sp
    padding-bottom: 5px !important

  .u-pl5-sp
    padding-left: 5px !important

  .u-py5-sp
    padding-top: 5px !important
    padding-bottom: 5px !important

  .u-px5-sp
    padding-right: 5px !important
    padding-left: 5px !important

  .u-p10-sp
    padding: 10px !important

  .u-pt10-sp
    padding-top: 10px !important

  .u-pr10-sp
    padding-right: 10px !important

  .u-pb10-sp
    padding-bottom: 10px !important

  .u-pl10-sp
    padding-left: 10px !important

  .u-py10-sp
    padding-top: 10px !important
    padding-bottom: 10px !important

  .u-px10-sp
    padding-right: 10px !important
    padding-left: 10px !important

  .u-p15-sp
    padding: 15px !important

  .u-pt15-sp
    padding-top: 15px !important

  .u-pr15-sp
    padding-right: 15px !important

  .u-pb15-sp
    padding-bottom: 15px !important

  .u-pl15-sp
    padding-left: 15px !important

  .u-py15-sp
    padding-top: 15px !important
    padding-bottom: 15px !important

  .u-px15-sp
    padding-right: 15px !important
    padding-left: 15px !important

  .u-p20-sp
    padding: 20px !important

  .u-pt20-sp
    padding-top: 20px !important

  .u-pr20-sp
    padding-right: 20px !important

  .u-pb20-sp
    padding-bottom: 20px !important

  .u-pl20-sp
    padding-left: 20px !important

  .u-py20-sp
    padding-top: 20px !important
    padding-bottom: 20px !important

  .u-px20-sp
    padding-right: 20px !important
    padding-left: 20px !important

  .u-p25-sp
    padding: 25px !important

  .u-pt25-sp
    padding-top: 25px !important

  .u-pr25-sp
    padding-right: 25px !important

  .u-pb25-sp
    padding-bottom: 25px !important

  .u-pl25-sp
    padding-left: 25px !important

  .u-py25-sp
    padding-top: 25px !important
    padding-bottom: 25px !important

  .u-px25-sp
    padding-right: 25px !important
    padding-left: 25px !important

  .u-p30-sp
    padding: 30px !important

  .u-pt30-sp
    padding-top: 30px !important

  .u-pr30-sp
    padding-right: 30px !important

  .u-pb30-sp
    padding-bottom: 30px !important

  .u-pl30-sp
    padding-left: 30px !important

  .u-py30-sp
    padding-top: 30px !important
    padding-bottom: 30px !important

  .u-px30-sp
    padding-right: 30px !important
    padding-left: 30px !important

  .u-p35-sp
    padding: 35px !important

  .u-pt35-sp
    padding-top: 35px !important

  .u-pr35-sp
    padding-right: 35px !important

  .u-pb35-sp
    padding-bottom: 35px !important

  .u-pl35-sp
    padding-left: 35px !important

  .u-py35-sp
    padding-top: 35px !important
    padding-bottom: 35px !important

  .u-px35-sp
    padding-right: 35px !important
    padding-left: 35px !important

  .u-p40-sp
    padding: 40px !important

  .u-pt40-sp
    padding-top: 40px !important

  .u-pr40-sp
    padding-right: 40px !important

  .u-pb40-sp
    padding-bottom: 40px !important

  .u-pl40-sp
    padding-left: 40px !important

  .u-py40-sp
    padding-top: 40px !important
    padding-bottom: 40px !important

  .u-px40-sp
    padding-right: 40px !important
    padding-left: 40px !important

  .u-p45-sp
    padding: 45px !important

  .u-pt45-sp
    padding-top: 45px !important

  .u-pr45-sp
    padding-right: 45px !important

  .u-pb45-sp
    padding-bottom: 45px !important

  .u-pl45-sp
    padding-left: 45px !important

  .u-py45-sp
    padding-top: 45px !important
    padding-bottom: 45px !important

  .u-px45-sp
    padding-right: 45px !important
    padding-left: 45px !important

  .u-p50-sp
    padding: 50px !important

  .u-pt50-sp
    padding-top: 50px !important

  .u-pr50-sp
    padding-right: 50px !important

  .u-pb50-sp
    padding-bottom: 50px !important

  .u-pl50-sp
    padding-left: 50px !important

  .u-py50-sp
    padding-top: 50px !important
    padding-bottom: 50px !important

  .u-px50-sp
    padding-right: 50px !important
    padding-left: 50px !important

  .u-p55-sp
    padding: 55px !important

  .u-pt55-sp
    padding-top: 55px !important

  .u-pr55-sp
    padding-right: 55px !important

  .u-pb55-sp
    padding-bottom: 55px !important

  .u-pl55-sp
    padding-left: 55px !important

  .u-py55-sp
    padding-top: 55px !important
    padding-bottom: 55px !important

  .u-px55-sp
    padding-right: 55px !important
    padding-left: 55px !important

  .u-p60-sp
    padding: 60px !important

  .u-pt60-sp
    padding-top: 60px !important

  .u-pr60-sp
    padding-right: 60px !important

  .u-pb60-sp
    padding-bottom: 60px !important

  .u-pl60-sp
    padding-left: 60px !important

  .u-py60-sp
    padding-top: 60px !important
    padding-bottom: 60px !important

  .u-px60-sp
    padding-right: 60px !important
    padding-left: 60px !important

  .u-p65-sp
    padding: 65px !important

  .u-pt65-sp
    padding-top: 65px !important

  .u-pr65-sp
    padding-right: 65px !important

  .u-pb65-sp
    padding-bottom: 65px !important

  .u-pl65-sp
    padding-left: 65px !important

  .u-py65-sp
    padding-top: 65px !important
    padding-bottom: 65px !important

  .u-px65-sp
    padding-right: 65px !important
    padding-left: 65px !important

  .u-p70-sp
    padding: 70px !important

  .u-pt70-sp
    padding-top: 70px !important

  .u-pr70-sp
    padding-right: 70px !important

  .u-pb70-sp
    padding-bottom: 70px !important

  .u-pl70-sp
    padding-left: 70px !important

  .u-py70-sp
    padding-top: 70px !important
    padding-bottom: 70px !important

  .u-px70-sp
    padding-right: 70px !important
    padding-left: 70px !important

  .u-p75-sp
    padding: 75px !important

  .u-pt75-sp
    padding-top: 75px !important

  .u-pr75-sp
    padding-right: 75px !important

  .u-pb75-sp
    padding-bottom: 75px !important

  .u-pl75-sp
    padding-left: 75px !important

  .u-py75-sp
    padding-top: 75px !important
    padding-bottom: 75px !important

  .u-px75-sp
    padding-right: 75px !important
    padding-left: 75px !important

  .u-p80-sp
    padding: 80px !important

  .u-pt80-sp
    padding-top: 80px !important

  .u-pr80-sp
    padding-right: 80px !important

  .u-pb80-sp
    padding-bottom: 80px !important

  .u-pl80-sp
    padding-left: 80px !important

  .u-py80-sp
    padding-top: 80px !important
    padding-bottom: 80px !important

  .u-px80-sp
    padding-right: 80px !important
    padding-left: 80px !important

  .u-p85-sp
    padding: 85px !important

  .u-pt85-sp
    padding-top: 85px !important

  .u-pr85-sp
    padding-right: 85px !important

  .u-pb85-sp
    padding-bottom: 85px !important

  .u-pl85-sp
    padding-left: 85px !important

  .u-py85-sp
    padding-top: 85px !important
    padding-bottom: 85px !important

  .u-px85-sp
    padding-right: 85px !important
    padding-left: 85px !important

  .u-p90-sp
    padding: 90px !important

  .u-pt90-sp
    padding-top: 90px !important

  .u-pr90-sp
    padding-right: 90px !important

  .u-pb90-sp
    padding-bottom: 90px !important

  .u-pl90-sp
    padding-left: 90px !important

  .u-py90-sp
    padding-top: 90px !important
    padding-bottom: 90px !important

  .u-px90-sp
    padding-right: 90px !important
    padding-left: 90px !important

  .u-p95-sp
    padding: 95px !important

  .u-pt95-sp
    padding-top: 95px !important

  .u-pr95-sp
    padding-right: 95px !important

  .u-pb95-sp
    padding-bottom: 95px !important

  .u-pl95-sp
    padding-left: 95px !important

  .u-py95-sp
    padding-top: 95px !important
    padding-bottom: 95px !important

  .u-px95-sp
    padding-right: 95px !important
    padding-left: 95px !important

  .u-p100-sp
    padding: 100px !important

  .u-pt100-sp
    padding-top: 100px !important

  .u-pr100-sp
    padding-right: 100px !important

  .u-pb100-sp
    padding-bottom: 100px !important

  .u-pl100-sp
    padding-left: 100px !important

  .u-py100-sp
    padding-top: 100px !important
    padding-bottom: 100px !important

  .u-px100-sp
    padding-right: 100px !important
    padding-left: 100px !important

  .u-pos-sp
    position: static !important

  .u-por-sp
    position: relative !important

  .u-poa-sp
    position: absolute !important

  .u-pof-sp
    position: fixed !important

  .u-tar-sp
    text-align: right !important

  .u-tac-sp
    text-align: center !important

  .u-tal-sp
    text-align: left !important

  .u-taj-sp
    text-align: justify !important

  .u-vabl-sp
    vertical-align: baseline !important

  .u-vat-sp
    vertical-align: top !important

  .u-vam-sp
    vertical-align: middle !important

  .u-vab-sp
    vertical-align: bottom !important

  .u-vatb-sp
    vertical-align: text-bottom !important

  .u-vatt-sp
    vertical-align: text-top !important

  .u-wsn-sp
    white-space: nowrap !important
