@import '../../node_modules/stylus-helpers/helper'

color-bg = #FFF
color-text = #ccc
color-text-sub = #000
color-primary = #0cf
color-menu-link = color-text

grid = 30px

container-width = grid * 36

container()
  width container-width
  w-xs auto
  mx()
  mx-xs 10
